@use 'setting/variables.scss';

@font-face {
  font-family: Almm; /* 字体名称 */
  src:
    url('/fonts/almm/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
    /* woff2 格式 */ url('/fonts/almm/AlimamaFangYuanTiVF-Thin.woff')
      format('woff'),
    url('/fonts/almm/AlimamaFangYuanTiVF-Thin.ttf') format('ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Almm;
}
html {
  scroll-behavior: smooth;
}

/* 覆盖 Ant Design 选中节点背景色 */
.ant-tree .ant-tree-treenode-selected {
  background-color: #e6f7ff !important; /* 自定义背景颜色 */
  color: #1890ff !important; /* 自定义字体颜色 */
}
.ant-tree-switcher {
  position: absolute !important;
  right: 0;
  left: auto;
  z-index: -1;
}
/* 鼠标悬停在选中节点时的背景色 */
.ant-tree .ant-tree-treenode-selected:hover {
  background-color: #bae7ff !important;
}
//组件库的过渡效果
.ant-btn,
.ant-card,
.ant-layout,
.ant-menu {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    width 0.3s ease !important;
}

// 默认样式（浅色模式）
body {
  background-color: variables.$global-background-color;
  color: variables.$global-font-color;
  transition:
    background-color 0,
    3s ease,
    color 0.3s ease;
}

// 深色模式样式
.dark-mode {
  background-color: variables.$background-color-dark;
  color: variables.$text-color-dark;
}

// .dark-mode button {
//   background-color: $primary-dark-dark;
//   color: $white-dark;
// }

// 浅色模式样式
.light-mode {
  background-color: variables.$global-background-color;
  color: variables.$global-font-color;
}

// .light-mode button {
//   background-color: $primary-color;
//   color: $white;
// }
